.twoTimesButton{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(13, 172, 8, 0.863);
    border: none;
}